Repository wyguevarap/security-cloud-proposal, changes with the owners that CODEOWNERS names for each.
All owners: @arquitecto-principal, @plataforma-iac, @devops-ci, @seguridad-gob, @sre-observabilidad

CODEOWNERS:

# Ejemplo de responsables por dominio
/docs/01-architecture-tobe.md   @arquitecto-principal
/docs/02-terraform-approach.md  @plataforma-iac
/docs/03-cicd-github-actions.md  @devops-ci
/docs/04-governance-and-policies.md @seguridad-gob
/docs/07-observability.md        @sre-observabilidad

docs: anexos y referencias a assets (imagen y PDFs); notas TO-BE en arquitectura
  README.md
  assets/.gitkeep
  docs/01-architecture-tobe.md
  docs/12-anexos.md
Owners: @arquitecto-principal

docs(iac): estructura Terraform de referencia (sin .tf); enlaces en docs y README
  Base/Dav.drawio
  Base/Dav.drawio.png
  Base/Propuesta Arquitectura de Seguridad Cloud.pdf
  Base/Prueba_Tecnica_Especialista I Arqui tectura de Seguridad Cloud_3569.pdf
  README.md
  docs/02-terraform-approach.md
  iac/terraform/README.md
  iac/terraform/base-files.md
  iac/terraform/global/bootstrap/README.md
  iac/terraform/live/dev/README.md
  iac/terraform/live/prod/README.md
  iac/terraform/live/test/README.md
  iac/terraform/modules/compute/README.md
  iac/terraform/modules/data/README.md
  iac/terraform/modules/iam/README.md
  iac/terraform/modules/network/README.md
  iac/terraform/modules/observability/README.md
  iac/terraform/modules/security/README.md
  iac/terraform/policies/README.md
Owners: @plataforma-iac

chore: permitir versionar assets (PNG/PDF) en .gitignore; mover anexos a assets/
  .gitignore
  assets/arquitectura-tobe.png
  assets/diagram-source.drawio
  assets/diagram-source.png
  assets/propuesta-solucion.pdf
  assets/prueba-tecnica.pdf
Owners: none

docs: optimización README e índice; diagrama IaC + sugerencias de configuración; módulos más descriptivos
  README.md
  docs/02-terraform-approach.md
  docs/03-cicd-github-actions.md
  docs/13-estructura-del-repo.md
  docs/README.md
  iac/terraform/modules/compute/README.md
  iac/terraform/modules/data/README.md
  iac/terraform/modules/iam/README.md
  iac/terraform/modules/network/README.md
  iac/terraform/modules/observability/README.md
  iac/terraform/modules/security/README.md
Owners: @plataforma-iac, @devops-ci

docs(iac): módulos con Inputs/Outputs/Ejemplos; guía terraform-docs; enlaces desde README
  README.md
  docs/14-terraform-docs.md
  iac/terraform/modules/compute/README.md
  iac/terraform/modules/data/README.md
  iac/terraform/modules/iam/README.md
  iac/terraform/modules/network/README.md
  iac/terraform/modules/observability/README.md
  iac/terraform/modules/security/README.md
Owners: none

docs: enlazar repo demo terraform-docs
  docs/14-terraform-docs.md
Owners: none

docs: mencionar workflow terraform-docs en repo demo
  docs/14-terraform-docs.md
Owners: none
